dialog {
	> h2 {
		margin: 0;
	}

	> p {
		max-width: 50ch;
	}

	> form > {
		label {
			display: block;
		}

		input, select {
			width: 100%;
		}

		div.button-container {
			display: flex;
			flex-direction: row-reverse;
			margin-top: 1rem;
			gap: 2px;

			> button:empty {
				display: none;
			}
		}
	}
}